$navbar-height: 50px


.navbar
  height: $navbar-height
  width: 100%
  display: block
  padding: 1em
  .container
    margin: auto
    height: 100%
    @include flexbox()
    @include align-items(center)
    width: 100%
    .navbar-brand
      @include flex(1)
      img
        height: $navbar-height


    .navbar-menu
      @include flexbox()
      @include justify-content(center)
      @include flex(1)
      padding: 1em
      .navbar-start
        @include flexbox
        @include align-items(center)
        width: 100%
        margin-right: 1em

        .react-reveal
          @include flex(1)
